
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body
{
	background-color:grey;
    color:#FFE2CE;
	text-align:center;
	font-family: 'Andika';
	font-size: 20px;
}
h1
{
	color:#FFE2CE;
	font-family: 'Berkshire Swash';
	margin:10px;
}
h2
{
	text-align:left;
	color:#3297AC;
	font-family: 'Berkshire Swash';
	margin:10px;
}
h4
{
	color:#FFE2CE;
	font-family: 'Berkshire Swash';
	margin:10px;
}
p
{
	margin:10px;
    color:#FFE2CE;
}
table
{
	border-collapse:collapse;
}
td,th
{
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}
ul
{
    text-align:left;
}
a
{
	color:yellow;
}
